/*
	Fresh fruits table
*/

.fresh-fruits, .fresh-fruits thead th {
    text-align: center;
    margin: 5px;
    font-size: 30px;
}

.fresh-fruits tbody td {
    font-size: 18px;
    text-align: left;
}


/*
	Cross Puzzle table - Title goes here
*/

.cross-puzzle {
    border: 1px solid grey;
}

.cross-puzzle td {
    width: 20px;
    text-align: center;
    border: 1px solid grey;
}

.cross-puzzle th {
    width: 115px;
    border: 1px solid grey;
}

#J {
    text-align: right;
    vertical-align: bottom;
}

#C {
    text-align: left;
    ;
}


/*This CSS is not needed but still, yet used to do the job*/
