table {
	background: #f3f9fa;
	border: 1px solid #8df6f4;
	border-collapse: collapse;
/*	text-shadow: 2px 2px 3px #aaa; !NB non fucntioning here => TODO: WHY ? inheritaned - yes ?FTW?*/
}

th {
	padding: 10px 20px;
	text-align: right
}

td {
	text-align: center;
	border: 1px solid #8df6f4;
}

#result,
button {
	display: inline-block;
	background: #f3f9fa;
	border: none;
	font-size: 30px;
	font-family: Consolas,monospace;
	font-weight: bold;
	color: #8df6f4;
	text-shadow: 2px 2px 3px #aaa;
}

#result {
	text-align: right;
	width: 210px;
}

button {
	padding: 10px 20px;
	text-align: center;
	width: 60px;
}

#button-0 button{
	width: 123px;
}
/*note the 123px => TODO: check the computation of values in html5 (there was no 0,5px)*/

 /*type="text" style="display: inline-block; width: 50px; background: #f3f9fa; text-align: right; border: none; font-size: 30px; font-family: Consolas; font-weight: bold; color: #8df6f4; text-shadow: 2px 2px 3px #aaa;" padding: 10px 20px;*/
