[submodule "Telerik-Academy-Projects/JavaScript-UI-DOM-Team--Blackcurrant-"]
	url = https://github.com/karabeliov/JavaScript-UI-DOM-Team--Blackcurrant-
[submodule "Telerik-Academy-Projects/TeamLime"]
	url = https://github.com/koravski/TeamLime
[submodule "Telerik-Academy-Projects/team-tomato"]
	url = https://github.com/flashd2n/team-tomato
[submodule "Telerik-Academy-Projects/PoliticianGame"]
	url = https://github.com/nina75/PoliticianGame