table {
	/*more possible to be a shodow instead of border*/
	border: 1px solid grey;
	border-radius: 10px;
}

.table-header {
	background-color: lightgrey;
}

#table-footer {
	background-color: lightgrey;
}
/* something os wrong - for the right aligned */

#right-aligned-element {
	text-align: right;
}
