div {
	width: 90%;
	background-color: #000001;
	border: 1px solid #fd0001;
	border-radius: 100px;
}

div div div div div div div div div div div div div div div div div div div *{
	display: none;
}

body>div{
	width:600px;
}