@font-face {
    font-family: "Shojumaru-Regular";
    src: url(../font/Shojumaru-Regular.ttf)
}

body {
    background-color: #c0c0a5;
    margin: 0;
}

#title {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #000000;
}

#frame-div {
    margin: 0 auto;
    width: 800px;
    height: 600px;
    border: 10px solid #2e2e1f;
    border-radius: 5px;
    background-color: orange ;
    background-image: radial-gradient(circle at 100% 150%, orange  24%, white   25%, white   28%, orange  29%, orange  36%, white   36%, white   40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, orange  24%, white   25%, white   28%, orange  29%, orange  36%, white   36%, white   40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, white   10%, orange  11%, orange  23%, white   24%, white   30%, orange  31%, orange  43%, white   44%, white   50%, orange  51%, orange  63%, white   64%, white   71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, white   5%, orange  6%, orange  15%, white   16%, white   20%, orange  21%, orange  30%, white   31%, white   35%, orange  36%, orange  45%, white   46%, white   49%, transparent 50%, transparent), radial-gradient(circle at 0 50%, white   5%, orange  6%, orange  15%, white   16%, white   20%, orange  21%, orange  30%, white   31%, white   35%, orange  36%, orange  45%, white   46%, white   49%, transparent 50%, transparent);
    background-size: 100px 50px;
}

/* The alert message box */
#alert {

    box-sizing: border-box;
    background:url(../img/game-background.jpg);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px; /* Half the height */
    margin-left: -150px; /* Half the width */
    padding: 20px;
    font-family: "Shojumaru-Regular";
    border: 4px solid #2e2e1f;
    border-radius: 5px;

}
.hidden{
    display: none;
}
#alert h1{
    font-size: 22px;
}
ul.instructions{
    list-style: none;
    padding-left: 0
    
}
ul.instructions li{
    margin-bottom: 10px;
}
ul.instructions li:before {
    content: "\2727";
    margin-right: 6px
}